a:link, a:visited {
  text-decoration: none;
  color: #000000; }

img {
  max-width: 100%;
  max-height: 100%; }

.main-wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray; }
  .main-wrapper .content-wrapper {
    flex-basis: 70%; }
    .main-wrapper .content-wrapper .category {
      font-family: sans-serif;
      font-size: 14px;
      color: #0059bf; }
    .main-wrapper .content-wrapper .headline {
      font-size: 24px;
      line-height: 1.5; }
    .main-wrapper .content-wrapper .stand-first {
      font-size: 16px;
      color: #606669; }
  .main-wrapper .image-wrapper {
    flex-basis: 30%; }
    .main-wrapper .image-wrapper .image-container img {
      height: auto; }
